@media (max-width: 23em) {
  .heading-primary {
  }
  .heading-primary span {
    font-size: 48px;
  }
  .rating-box {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px 24px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 9px;
  }
  .rating-head-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 12px;
  }
}
