* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "spartan", sans-serif;
  line-height: 1.6;
}

.container {
  width: 1200px;
  margin: 100px auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-style: italic;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:link,
.attribution a:visited {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.attribution a:hover,
.attribution a:active {
  text-decoration: underline;
  font-weight: bolder;
}
/* .header-box {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.grid {
  display: grid;
  gap: 48px;
  margin-bottom: 32px;
}
.main-header-box {
}
.header-box {
}
.grid--2-cols {
  grid-template-columns: 52fr 48fr;
}

.rating-icon {
  height: 16px;
  width: 16px;
  color: orange;
}
.heading-primary {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 38px;
  width: 50%;
  line-height: 1.1;
  margin-bottom: 12px;
}
.heading-primary span {
  font-size: 48px;
}
.header-text-box {
  color: hsl(303, 10%, 53%);
  font-size: 15px;
  width: 60%;
}
.rating-box {
  display: flex;
  gap: 12px;
  padding: 12px 24px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 9px;
}
.rating-head-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 12px;
}
.margin-right {
  margin-right: 74px;
}
.margin-right-1 {
  margin-right: 48px;
}
.rating-text {
  font-size: 15px;
  color: hsl(300, 43%, 22%);
}
.image-box {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
}
.img {
  width: 48px;
  border-radius: 50%;
}
.testimonial-box {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-bottom: 96px;
}
.testimonials {
  padding: 32px 18px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 9px;
}
.testimonial-text-box {
  font-size: 15px;
  color: hsl(303, 10%, 53%);
}
/* .margin-top {
  margin-top: 32px;
} */
.margin-top-1 {
  margin-top: 24px;
}
.margin-top-2 {
  margin-top: 48px;
}
.name {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
}
.name-tag {
  color: hsl(333, 80%, 67%);
}
